/*
	Erica Shapland
	assignment8.css
	INFO1311.WW
	Instructor Olberding
	10/28/17
*/
body{
    background-color: #c7c9c9;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

/*  Navigation Bar  */

nav ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: right;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 26px 40px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

nav li a:hover:not(.active) {
    background-color: #1f8987;
}

nav .active {
    background-color: #333;
}

#logoImg {
    padding: 10.5px 40px;
}

/*  Image Header  */

header {
    max-width: 100%;
    height: auto;
    margin-top: 66px;
    background-image: url("pexels-photo-135230.jpg");  /*  CC0 License @ https://www.pexels.com/photo/sea-water-ocean-animal-135230/  */
    height: 550px;
    background-size: cover;
    background-color: #1f8987;
    background-position: center; 
}

#lowerBorder {
    background-color: #333;
    padding: 18px 0;
}

h1 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 80px;
    color: #222;
    text-shadow: 0 0 20px white;
    text-align: center;
    margin: auto;
    padding-top: 160px;
}

h2 {
    color: #222;
    text-shadow: 0 0 10px white;
    text-align: center;
    margin: auto;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 42px;
}

/*  Content  */

main {
	max-width: 960px;
    margin: 50px auto 100px auto;
	color: white;
}

h3 {
    color: #222;
    text-shadow: 0 0 4px white;
    text-align: center;
    font-size: 24px;
}

h4 {
    color: #1f8987;
    text-align: left;
    font-size: 18px;
}

video {
    float: left;
}

.column {  /* Create two unequal columns that floats next to each other */
    float: left;
    margin: 8px 0;  
}

.left {
  width: 450px;
  margin: 15px; 
}

.right {
  width: 430px;
  margin: 15px; 
}

.row {
    
    background-color: #333;
    margin: 20px 0;
}

.row:after {  /* Clear floats after the columns */
    content: "";
    display: table;
    clear: both;
}

video{
    float: right;
}

/*  Footer  */

footer {
    padding: 14px 0;
    background-color: #333;
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;    
}

a {
    color: #1f8987;
}
